<h3>Listado de Héroes</h3>

<div *ngIf="deletedHero; else noHeroDeleted">
    <h3>Héroe Borrado: <small class="text-danger">{{ deletedHero }}</small>
    </h3>
</div>

<ng-template #noHeroDeleted>
    <h3>No se ha borrado ningún héroe...</h3>
</ng-template>

<button
    *ngIf="heroNames.length > 0"
    (click)="borrarUltimoHeroe()"
    class="btn btn-danger">
    Borrar último héroe
</button>

<ul class="mt-2 list-group">
    <li *ngFor="let name of heroNames"
        class="list-group-item">
        {{ name.toUpperCase() }}
    </li>